

            <h2>Riepilogo Mensile {{ mese }}</h2>
            <div></div><div></div>
            <div class="fatturato">
                <span class="label">Fatturato:</span>
                <span class="valore">
                    <span id="valFatturato">{{ fatturato }}€</span>
                </span>
            </div>
            <div class="spese">
                <span class="label">Spese:</span>
                <span class="valore">
                    <span>{{ spesaTot }}€</span>
                </span>
            </div>
            <div class="utile">
                <span class="label">Utile Mensile:</span>
                <span class="valore">
                    <span>{{ utile }}€</span>
                </span>
            </div>
            <div class="km_percorsi">
                <span class="label">Km Percorsi:</span>
                <span class="valore">
                    <span>{{ km_percorsi }} km</span>
                </span>
            </div>
            <div class="spesa_stimata">
                <span class="label">Spesa Stimata:</span>
                <span class="valore">
                    <span>{{ spesaStimata }}€</span>
                </span>
            </div>
            <div class="utile_stimato">
                <span class="label">Utile Stimato:</span>
                <span class="valore">
                    <span>{{ utileStimato }}€</span>
                </span>
            </div>

